.header-box {
  position: fixed;
  top: 0;

  width: 100%;
  height: 50px;

  background-color: #f4f3f2;
  box-shadow: 0 0 10px gray;

  .tool-box {
    display: grid;
    grid-template-columns: repeat(10, auto);

    width: 100%;
    height: 50px;
    max-height: 50px;

    color: #22272b;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;

    .right-item {
      grid-column-start: 10;
      grid-column-end: 11;

      display: flex;
      justify-self: end;
      padding-right: 15px;
    }
  }

  /*transition: height 1s;
  &:hover {
    height: 300px;
  }*/
}
