.header-box {
  position: fixed;
  top: 0;

  width: 100%;
  height: 50px;

  background-color: #f4f3f2;
  box-shadow: 0 0 10px gray;

  transition: height 1s;
  &:hover {
    height: 300px;
  }
}

.begin-spacing {
  margin-top: 70px;
}